/* This is a local file to address apparent deficiencies in the Project Light style */


/* Prevent the content area looking odd if the page is short */
#content .campl-column12 .campl-content-container {min-height: 400px; padding-bottom: 45px;}

/* Headings have little spacing above by default */
#content .campl-column12 .campl-content-container h2 {margin-top: 1.5em;}

/* Tables have a line underneath them by default */
#content .campl-column12 .campl-content-container table {border-bottom: 0; margin-bottom: 1.5em;}

/* Textarea widgets are set to be very small by default */
input,textarea {width: auto;}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.campl-uneditable-input {height: auto; margin-bottom: auto;}

/* Select widgets are set to a fixed width by default */
select {width: auto;}

/* Labels are set to block, i.e. add a newline before, by default */
label {display: inline;}

/* Fade out the left logo */
#content .campl-column2 img {opacity: 0.25;}
#content .campl-column2 img {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"; filter: alpha(opacity=25); -moz-opacity:0.2; -khtml-opacity: 0.2;}	/* Vendor-specific legacy support */

